@use "../../styles/variables.scss" as *;

.header {
  max-width: $screen-cs;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.75rem;
  @media all and (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    padding: 0 5.75rem;
  }
  .logo {
    cursor: pointer;
  }
  .menuHamburger {
    display: none;
    @media all and (max-width: $screen-md) {
      display: flex;
      align-items: center;
    }
  }
}
