@use "../../styles/variables.scss" as *;

.benefit {
  display: flex;
  padding-bottom: 10rem;
  @media all and (max-width: $screen-md) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.25rem;
  }
  .benefitDescription {
    width: 50%;
    @media all and (max-width: $screen-md) {
      width: 100%;
      order: 1;
    }
    p {
      line-height: 1.5rem;
      color: #575757;
    }
  }
  .benefitImage {
    @media all and (max-width: $screen-md) {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 2.5rem;
      order: 0;
    }
  }
}

.first {
  @media all and (min-width: $screen-md-plus) {
    order: 0;
    padding-right: 4rem;
  }
}

.second {
  @media all and (min-width: $screen-md-plus) {
    order: 1;
    padding-left: 4rem;
  }
}
