@use "../../styles/variables.scss" as *;

.downloadBanner {
  background-color: $washedGreen;

  .downloadBannerContainer {
    position: relative;
    width: 499px;
    margin: 0 auto;
    padding: 5rem 0;
    .textWhite {
      color: $whiteColor;
    }
    .description {
      padding-bottom: 2.5rem;
      text-align: center;
      .download {
        cursor: pointer;
        color: $lightGreen;
      }
      .textWhite {
        color: $whiteColor;
      }
    }
    .apps {
      display: flex;
      padding: 0 2.625rem;
      justify-content: space-between;
    }
    .heartEmoji {
      position: absolute;
      top: 6.25rem;
      left: -8rem;
    }
    .smileEmoji {
      position: absolute;
      top: 2.875rem;
      right: -8rem;
    }
    .likeEmoji {
      position: absolute;
      top: 12.125rem;
      right: -10rem;
    }
  }
}

.lightGreen {
  background-color: $lightGreen;
}
