@use "../../styles/variables.scss" as *;

.missionSection {
  .missionSectionContainer {
    max-width: $screen-cs;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5rem 8.625rem;
    @media all and (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 6.75rem 5.75rem;
    }
    @media all and (min-width: $screen-md) and (max-width: $screen-lg) {
      padding: 6.75rem 2.75rem;
    }
    .missionTitleContainer {
      padding-bottom: 2rem;
    }
    .presentation {
      display: flex;
      .imageContainer {
        width: 45%;
        margin-right: 4.25rem;
        @media all and (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          margin-right: 3.25rem;
        }
      }
      .missionDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        color: #292c2a;
        h2 {
          @media all and (max-width: $screen-cs) {
            font-size: 1.5rem;
            line-height: 2.25rem;
          }
          @media all and (max-width: 1300px) {
            padding-bottom: 0.5rem;
            font-size: 1.3rem;
            line-height: 2.1rem;
          }
        }
        p {
          @media all and (max-width: 1300px) {
            font-size: 0.9rem;
            line-height: 1.675rem;
          }
        }
        .benefits {
          padding: 1.5rem 0 2rem 0;
          @media all and (max-width: 1300px) {
            padding: 0.5rem 0 1rem 0;
          }
          li {
            display: flex;
            align-items: flex-start;
            padding: 1.5rem 1.875rem;
            font-weight: 600;
            &:nth-of-type(odd) {
              background-color: $washedGreen;
            }
            .paw {
              padding-top: 0.313rem;
            }
            p {
              padding-left: 0.75rem;
            }
          }
        }
      }
    }
  }
}
