@use "../../styles/variables.scss" as *;

.aboutHero {
  background-color: $lightGreen;
  .aboutHeroContainer {
    display: flex;
    align-items: center;
    max-width: $screen-cs;
    margin: 0 auto;
    padding: 3.5rem 6.25rem 3.5rem 8.75rem;
    .aboutHeroDescription {
      width: 40%;
      padding-right: 2.875rem;
      .description {
        padding-bottom: 2.25rem;
        font-size: 1.5rem;
        line-height: 2.25rem;
        letter-spacing: 0px;
        font-weight: normal;
        color: #fff;
      }
      .imageContainer {
        width: 55%;
      }
    }
  }
}
