// Media queries breakpoints
$screen-xxs: 375px;
$screen-xxs-plus: $screen-xxs + 1;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-plus: $screen-xs + 1;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-plus: $screen-sm + 1;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-plus: $screen-md + 1;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// default content screen
$screen-cs: 1366px;
$screen-cs-min: ($screen-cs - 1px);
$screen-cs-max: ($screen-cs + 1);

// Extra extra large screen / large desktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

// Colors

// Primary Palette
$whiteColor: #fff;
$lightGreen: #54a560;
$darkGreen: #46815f;
$washedGreen: #eaf0eb;
$middleGray: #575757;
$lightGrey: #fafafa;

// Secondary Palette
$menuBlack: #292c2a;
$lightYellow: #fffcf2;
$darkYellow: #95680e;
