@use "../../styles/variables.scss" as *;

.menu {
  display: flex;
  @media all and (max-width: $screen-md) {
    display: none;
  }

  li {
    padding-right: 2rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: $menuBlack;
    cursor: pointer;
    &:last-child {
      padding: 0;
    }
  }
}

.columnDisplay {
  display: flex;
  flex-direction: column;
  li {
    font-weight: 600;
    line-height: 4.5rem;
    color: $menuBlack;
    cursor: pointer;
    &:first-child {
      padding-top: 1rem;
    }
  }
}
